
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
}

.top-jmp {
    margin-top: 15px;
}

.form-content {
    padding: 15px 15px 0px 15px;
    border-bottom: 1px solid rgb(221,221,221);
    border-left: 1px solid rgb(221,221,221);
    border-right: 1px solid rgb(221,221,221);
    border-radius: 0 0 4px 4px;
}

.form-control {
    padding: 5px;
}

.exit {
    display: inline-block;
    
}

.header {
    padding: 5px 15px 5px 15px;
    height: 45px;
}

.header-title {
    font-size: 30px;
    height: auto;
    width: auto;
}

.form-content .tab-pane > .form-group{
    margin: 0 !IMPORTANT;
}

.form-group button{
    margin: 7px auto;
}

.full-name {
    display: inline-block;
    padding-right: 15px;
}