* {
	-webkit-transition: all 0.4s ease 0s;
			transition: all 0.4s ease 0s;
}

.btn {
    outline: none !important;
}

.search-wrapper input.search-users {
    font-size: 14px;
}

.search-wrapper .names-wrapper {
    display: none;
    padding: 0 15px;
    margin-bottom: 0;
    height: 0;
}

.search-wrapper .names-wrapper .names {
    width: 100%;
    margin-top: 2.5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
}

.search-wrapper .names-wrapper .names p {
    text-align: left;
    padding: 5px 4px 5px 20px;
    margin: 0;
}

.search-wrapper .names-wrapper .names p.title {
    padding: 5px 4px;
    color: rgb(153, 153, 153);
}

.search-wrapper .names-wrapper .names p:not(.title) {
    cursor: pointer;
}

.search-wrapper .names-wrapper .names p:not(.title):hover a.link-user {
    color: #bd9730;
    -webkit-transition: all 0.4s ease 0s;
            transition: all 0.4s ease 0s;
}

.search-wrapper .names-wrapper .names p,
.search-wrapper .names-wrapper .names p .link-user {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.user-wrapper {
    padding: 0 10px;
}

.user-wrapper .user-full-name {
    margin-bottom: 30px;
    padding: 10px 0;
}

.user-wrapper h2 {
    font-size: 26px;
    display: inline-block;
}

.user-wrapper .permissions-label {
    vertical-align: middle;
    font-size: 14px;
    margin-left: 15px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.user-wrapper .edit-permissions {
    display: none;
    margin-left: 8px;
}

#edit-modal .edit-form {
    text-align: center;
}

#edit-modal .edit-form .form-group {
  	margin-bottom: 15px;
}


.user-wrapper .panel-heading {
    background-color: #fff;
}
 
.user-wrapper .btn-more-info {
    float: right;
}
 
.user-wrapper .btn-more-info[aria-expanded="false"] span {
    font-size: 18px;
}
 
.user-wrapper .btn-more-info[aria-expanded="true"] span {
    font-size: 18px;
    color: rgb(226, 11, 67);
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}
 
.user-wrapper .no-courses {
    text-align: center;
}
