
.page-header {
	margin: 0;
	font-size: 24px;
}

@media (min-width: 992px) {
	section#content {
		margin-left: 235px;
		padding: 0px 15px;
	}
}

table#rating {
	width: 100%;
	text-align: center;
}

.filter-wrapper {
	padding: 10px 15px;
	border: 1px solid #ddd;
	border-radius: 4px;
	margin-bottom: 20px;
}

.filter-btn {
	background-color: rgb(25, 70, 186);
	margin-bottom: 20px;
}

.filter-btn:hover{
	background-color: rgba(25, 70, 186,0.9);
}

.filter-btn:active, .filter-btn:focus, .filter-btn:active:focus{
	background-color: rgb(25, 70, 186);
	outline: none;
}
.filter-btn:active:focus{
	color: rgb(236, 11, 67);
	-webkit-box-shadow: inset 0px 10px 30px 5px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 10px 30px 5px rgba(0,0,0,0.5);
	-ms-box-shadow: inset 0px 10px 30px 5px rgba(0,0,0,0.5);
	-o-box-shadow: inset 0px 10px 30px 5px rgba(0,0,0,0.5);
	box-shadow: inset 0px 10px 30px 5px rgba(0,0,0,0.5);
}
